/* - - - resets ---------- RESETS ------------ - - - - - - */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

/* - - - - - - ---------- RESETS END ------------ - - - - -
- - - root ----------- ROOT ------------- - - - - - - - */

:root {
  --lt-color: #ffffff;
  --lt-neutral: #f7f3ee;
  --md-neutral: #e0d5c9;
  --dk-neutral: #38291e;
  --shadow: #38291e18;
  --opaque-bg-lt: #aa998d0a;
  --opaque-bg: #38291e13;
  --opaque-bg-dk: #2d1f1435;
  --lt-green: #bfc8a3;
  --md-green: #6f543e;
  --dk-green: #37421c;
  --dk-green2: #1b2601;
  --transparent: #ffffff00;

  --progress-bar-height: 13px;
  --module-spacing: 0.9em;
  --arch-top-r: 30px;
  --arch-bot-r: 5px;

  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.1rem;
}

/* - - - - - - ----------- ROOT END ------------- - - - - -  
- - - fonts ----------- FONTS ------------ - - - - - - - */
body,
button {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: var(--dk-neutral);
}

nav,
h2,
h3,
blockquote,
p.h,
.news a {
  font-family: lora, serif;
}

p.h {
  font-size: 3rem;
}

blockquote {
  font-size: 1.7rem;
}

nav,
h2,
h3,
footer h3 .news .title {
  font-size: var(--font-lg);
}

.sb,
button.primary,
button.secondary,
button.tertiary {
  font-size: var(--font-md);
}

.rating-bg,
.rating,
.news .stats,
.rating-info,
#community .username,
.news .description {
  font-size: var(--font-sm);
}

footer li {
  font-size: 0.9rem;
}

nav a {
  text-transform: lowercase;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  width: 0;
  height: 1.5px;
  background: currentColor;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 80%;
}

p.h {
  font-weight: 800;
  font-style: italic;
  margin-bottom: 0.3em;
}

.sb {
  margin-bottom: 0.8em;
  width: 20em;
}

/* - - - - - - ----------- FONT END ------------- - - - - -  
- - -  ----------- MAIN ------------ - - - - - - - */
body > *:not(header):not(footer) {
  margin: 0 3em;
  transition: margin 0.2s;
}

header {
  margin: 1em 2em;
  transition: margin 0.2s;
}

footer {
  margin: 1em 3em;
  transition: margin 0.2s;
}

body {
  background-color: var(--lt-color);
}

/* - - - - - - ----------- MAIN END ------------- - - - - -  
- - -  ----------- ICONS ------------ - - - - - - - */

.icon {
  background-color: var(--lt-neutral);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.icon.transp {
  background-color: transparent;
}

.icon.transp svg {
  stroke-width: 1;
}

.icon,
.icon.dk,
.icon svg,
.icon.dk svg {
  transition: all 0.2s ease;
}

.icon:hover {
  background-color: var(--dk-neutral);
}

.icon.dk:hover {
  background-color: var(--lt-neutral);
}

.icon:hover svg,
.icon.dk svg {
  color: var(--lt-neutral);
}

.icon.dk:hover svg {
  color: var(--dk-neutral);
}

.icon.dk {
  background-color: var(--dk-neutral);
}

.icon svg {
  width: 25px;
  color: var(--dk-neutral);
  fill: none;
}

button.profile,
a.profile {
  overflow: hidden;
  padding: 0;
}

button.profile img,
a.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* - - - - - - ----------- ICONS END ------------- - - - - -  
- - -  ----------- GRAPHIC ELEMENTS ------------ - - - - - - - */

body {
  background-image: url("images/canvastexture.png");
  background-blend-mode: multiply;

  position: relative;
}

#bg-img-wrap {
  margin: 0;
  position: absolute;
  z-index: -10;
  pointer-events: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#bg-img {
  height: 200%;
  top: 0;
  left: 55%;
  position: absolute;
  transform: translateY(0);
  will-change: transform;
  z-index: -10;
  contain: layout;
}

.arch,
.border {
  background: url(images/canvastexture.png), var(--md-neutral);
  display: flex;
  align-items: center;
  padding: 0.15em;
  gap: 0.4em;
  z-index: 10;
}

.arch {
  border-radius: var(--arch-top-r) var(--arch-top-r) var(--arch-bot-r)
    var(--arch-bot-r);
  position: relative;
  top: 5px;
}

.border {
  border-radius: var(--arch-bot-r) var(--arch-bot-r) var(--arch-top-r)
    var(--arch-top-r);
  height: 1.5em;
  position: relative;
  top: -5px;
}

.progressbar {
  display: grid;
  margin-top: 0.7em;
  width: 100%;
  height: var(--progress-bar-height);

  cursor: pointer;
}

.progressbar-bg,
.progress,
.star {
  border-radius: var(--arch-top-r);
  height: 100%;
  grid-area: 1/1;
}

.progressbar-bg {
  background-color: var(--lt-neutral);
  z-index: 1;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.092);
}

.progress {
  background-color: var(--lt-green);
  width: 0;
  transition: width 1s ease;
  z-index: 2;

  transition: background-color 0.2s ease;
}

.progressbar:hover .progress {
  background-color: var(--dk-green);
}

.star {
  z-index: 3;
  font-size: calc(var(--progress-bar-height) * 0.6);
  color: var(--lt-color);
  text-align: right;
  opacity: 0;
  margin: calc(var(--progress-bar-height) * 0.233333)
    calc(var(--progress-bar-height) * 0.233333) 0 0;
  transition: opacity 1s ease;
}

.star-rating {
  display: grid;
}

.rating-bg,
.rating {
  letter-spacing: 0.25vw;
  grid-area: 1/1;
}

.rating-bg {
  color: var(--lt-color);
  z-index: 1;
}

.rating {
  color: var(--md-green);
  z-index: 2;
}

/* - - - - - - ----------- graphic elements end ------------- - - - - -  */

/* - - -  ----------- btns ------------ - - - - - - - */

button.primary,
button.secondary,
button.tertiary {
  border-radius: var(--arch-top-r);
  width: 10em;
  height: 2em;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.primary {
  background: url(images/canvastexture.png), var(--dk-green);
  box-shadow: 0 2px 3px var(--opaque-bg-dk);
  color: var(--lt-neutral);
  overflow: hidden;
}

button.primary:hover {
  background: url(images/canvastexture.png), var(--dk-green2);
  box-shadow: inset 0 0 0 5px 3px var(--opaque-bg);
  color: var(--lt-color);
}

button.secondary {
  border: 1.5px solid var(--dk-green);
  box-shadow: 0 2px 3px var(--opaque-bg);
  color: var(--dk-green);
  background-color: transparent;
}

button.secondary:hover {
  border: 1.5px solid var(--transparent);
  box-shadow: inset 0 0 5px 3px var(--opaque-bg-lt);
  color: var(--dk-green2);
  background: url(images/canvastexture.png), var(--lt-green);
}

button.tertiary:hover {
  color: var(--dk-green);
}

button.tertiary {
  color: var(--lt-green);
  background-color: transparent;
  text-decoration: underline;
}

.btns {
  display: flex;
  gap: 0.8em;
  width: fit-content;
  margin: 0 auto;
}

a.see-more {
  margin: 0.3em;
  margin-left: 0.6em;
  margin-top: 0.6em;
}

/* - - - - - - ----------- btns end ------------- - - - - -  
- - -  ----------- layout ------------ - - - - - - - */

p:not(p.h) {
  line-height: 2em;
}

#modules {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

/*for ellipses*/
.shelf {
  box-sizing: border-box;
  width: auto;
  min-width: 0;
}
.shelf .arch,
.shelf h2 {
  min-width: 0;
}

/*- - -  ----------- nav ------------ - - - - - - - */
#mobile-nav {
  display: none;
}
.arch.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  height: 4em;
  /* padding: clamp(0.2em, 1vw, 0.5em) 1em; */
}

nav ul,
.r ul,
div.l {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0.5em;
}

nav li {
  margin-right: 1em;
}

.r li {
  margin-right: 0.75em;
}

.sm-logo {
  width: clamp(150px, 85%, 100%);
  padding: 0.3em;
  padding-top: 0.67em;
  margin-right: 1em;
}

.hide,
.nav .l button {
  display: none;
}

/* - - - - - - ----------- nav end ------------- - - - - -  */
/* - - -  ----------- hero ------------ - - - - - - - */
#hero .l {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0;

  grid-column: 1/2;
}

#hero {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

/* - - - - - - ----------- hero end ------------- - - - - - */
/* - - - - - - --------- quote ----------- - - - - -  */

#qt {
  margin: 1em;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  /* grid-template-rows: repeat(4, 1fr); */
}
blockquote {
  font-style: italic;
  font-weight: 500;
  /* margin: 0em 1.8vw;
  margin-top: 0.5em; */
  line-height: 1.7;
  grid-row: 2/3;
  align-self: end;
  grid-column: 1/2;
}

img.q {
  width: 1em;
  display: block;
}

img.author {
  width: 12vw;
  grid-row: 2/4;
  grid-column: 2/3;
  transform: translateX(-1vw);
}

img.q:last-of-type {
  margin-left: auto;
  grid-row: 4/5;
  grid-column: 2/3;
  align-self: end;
}

#qt .btns {
  margin: 0;
  margin-top: 1.3em;
  gap: 0em;
  grid-row: 3/4;
  grid-column: 1/2;
}

#qt button.tertiary {
  margin-left: -0.1vw;
}

/* - - -  ----------- quote end  ------------ - - - - - - - */
/* - - - - - - --------- books ----------- - - - - -  */
.book {
  display: inline-block;

  aspect-ratio: 2 / 3;
  margin: var(--module-spacing);

  cursor: pointer;
}

.books,
div.overlay {
  background-color: var(--opaque-bg);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.books {
  text-align: center;
  padding: var(--module-spacing);
}

img.book-img {
  aspect-ratio: 2 / 3;
  box-shadow: 0.2em 0.2em 0.5em 0px var(--shadow);
}

.books {
  padding: var(--module-spacing);
  display: grid;
  column-gap: var(--module-spacing);
}

.l .books {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.r .books {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.book {
  width: 100%; /* stretch to fill the 1fr column */
}

.book img {
  width: 100%; /* fill the .book div */
  display: block; /* removes inline whitespace gap */
  height: auto; /* keeps aspect ratio */
}

.book {
  padding: 0;
  margin: 0;
}

/* - - -  ----------- news  ------------ - - - - - - - */
section.news {
  display: flex;
  flex-direction: column;
}

section.news .banner {
  text-align: center;
  margin: calc(var(--module-spacing) * 2);
  margin-bottom: var(--module-spacing);
}
section.news .banner img {
  width: 100%;
}

.news .overlay {
  flex: 1;
}

.news .title {
  display: block;
  margin: 0 calc(var(--module-spacing) * 2);
  line-height: 1.2;
  font-style: italic;
  text-decoration: underline;
  color: var(--dk-green);

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news .stats {
  color: var(--dk-neutral);
  margin: 0 calc(var(--module-spacing) * 2);
}

.news .description {
  line-height: 1.7rem;
  margin: var(--module-spacing) calc(var(--module-spacing) * 2);
  margin-top: 0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* - - -  ----------- news  end------------ - - - - - - - */
/* - - -  ----------- suggested------------ - - - - - - - */
.rating-info {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  grid-template-columns: auto;
  gap: 0.7em;
  margin-top: 0.7em;
  color: var(--dk-neutral);
}

.similar-to {
  font-style: italic;
  cursor: pointer;
  transition: color 0.2s;
}

.similar-to:hover {
  color: var(--dk-green);
}

#suggested .arch {
  max-width: 100%;
  min-width: 0;
}

#suggested h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#suggested .arch::after {
  content: attr(data-full);
  position: absolute;
  text-align: right;
  bottom: 80%;
  left: 50%;
  background: var(--lt-color);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--opaque-bg);
  padding: 4px 8px;
  white-space: normal;
  z-index: 10;
  opacity: 0;
  transition: 0.2s ease;
}

#suggested .similar-to:hover ~ .arch::after,
#suggested .arch:hover::after {
  opacity: 1;
}

/* - - -  ----------- suggested end ------------ - - - - - - - */
/* - - -  ----------- community read  ------------ - - - - - - - */
#community .user-info {
  display: grid;
  margin-top: 0.5em;
  grid-template-rows: 1fr 1fr;
}

#community a.profile {
  grid-column: 1/2;
  grid-row: 1/3;
}

#community .username {
  text-decoration: underline;
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/2;

  display: inline-block;
  max-width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#community .star-rating {
  text-align: left;
  grid-column: 2/3;
  grid-row: 2/3;
}

#community .user-info {
  justify-content: center;
  column-gap: 0.5em;
}
/* - - -  ----------- ffooter  ------------ - - - - - - - */
footer {
  background-color: var(--md-neutral);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: var(--arch-top-r) var(--arch-top-r) calc(var(--arch-top-r) * 2)
    calc(var(--arch-top-r) * 2);
  padding-bottom: 2em;

  background-image: url("images/w-vine.png");
  background-repeat: no-repeat;
  background-position: right 1.5em top -2em;
  background-size: 14em;
}

footer > * {
  margin: calc(var(--module-spacing) * 2 + 1.4em);
  margin-bottom: 0;
}
footer h3 {
  font-style: italic;
  margin-bottom: var(--module-spacing);
}

footer li {
  font-size: 1rem;
  padding: 0.2em 0;
}

.lg-logo,
footer small,
#app-links {
  grid-column: 1/3;
}

.lg-logo {
  grid-row: 1/2;
  width: 11em;
  cursor: pointer;
}

.general {
  grid-column: 1/2;
  grid-row: 2/4;
}

.business,
.socials {
  grid-column: 2/3;
}

.business {
  grid-row: 2/3;
}

.socials {
  grid-row: 3/4;
  margin-top: calc(var(--module-spacing) * 2);
}
.socials ul {
  display: flex;
  flex-direction: row;
}

.socials li {
  margin-right: var(--module-spacing);
}

.fb svg {
  width: 28px;
}

.instagram svg,
.linkedin svg,
.x svg {
  width: 20px;
}

#app-links {
  display: flex;
  align-items: center;
  grid-row: 4/5;
  margin-top: calc(var(--module-spacing) * 3);
}

img.apple {
  width: 135px;
  margin-right: var(--module-spacing);
}

img.google {
  width: 150px;
}

small {
  grid-row: 5/6;
  margin-top: calc(var(--module-spacing) * 3);
}

/* mobile footer */
@media (max-width: 780px) {
  footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 10em;
    padding: 1em;
    justify-content: center;
    background-image: linear-gradient(#e0d5c943, #e0d5c943),
      url(images/w-vine.png);
  }

  .general {
    justify-self: end;
  }

  footer > * {
    margin: 0;
  }

  footer h3 {
    margin-bottom: 0.3em;
  }

  .lg-logo {
    width: 15em;
  }

  .lg-logo,
  #app-links {
    margin: 2em auto;
  }

  footer small {
    margin: 0 auto;
  }
}
/**mobile to medium desktop media queries**/
@media (max-width: 1000px) {
  :root {
    --progress-bar-height: 17px;
    --font-sm: 0.9rem;
    --font-md: 1.1rem;
    --font-lg: 1.2rem;
    --module-spacing: 1em;
  }

  span.rating-number,
  span.rating-count,
  #community .username,
  .rating,
  .rating-bg,
  .news .stats {
    font-size: var(--font-sm);
  }

  .sb,
  .btns,
  .news .description,
  footer li {
    font-size: var(--font-md);
  }

  .news .title,
  footer h3,
  h2 {
    font-size: var(--font-lg);
  }

  blockquote {
    font-size: 2em;
  }

  .arch.nav {
    position: relative;
  }

  #mobile-nav {
    background-color: var(--opaque-bg);
    position: absolute;
    top: 4em;
    left: 0;
    border-radius: 0 0 var(--arch-top-r) var(--arch-top-r);
    overflow: hidden;

    display: block;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  #mobile-nav.open {
    max-height: 300px;
  }

  #mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-nav li {
    width: 10em;
    cursor: pointer;
    height: 3em;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 0.9em;
    position: relative;

    transition: all 0.15s ease;
    outline: 1px solid var(--transparent);
  }

  #mobile-nav li:hover {
    background-color: var(--dk-neutral);
    outline: 2px solid var(--dk-neutral);
    color: var(--lt-neutral);
  }

  #mobile-nav li:first-of-type::after,
  #mobile-nav li:nth-of-type(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px; /* gap on left */
    right: 8px; /* gap on right */
    height: 1px;
    background: var(--dk-neutral);
  }

  body > *:not(header):not(footer) {
    margin: 0 1.5vw;
  }

  header {
    margin: 0.5em 1.5vw;
  }

  footer {
    margin: 2vw 1.5vw;
  }

  nav {
    display: none;
  }

  .nav .l button {
    margin-right: 0.4em;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hero {
    width: 100vw;
    margin-top: 6em;
    margin-bottom: 5em;
    display: block;
  }

  #qt .btns {
    margin: 0 auto;

    grid-column: 2/3;
  }

  button.tertiary {
    padding-top: 0.7em;
    margin-left: 0;
  }

  .btns {
    margin-top: 0.5em;
    flex-direction: column;
  }

  button.primary,
  button.secondary,
  button.tertiary {
    width: 15em;
    height: 2.4em;
  }

  #modules {
    display: block;
  }

  /* mobile books */
  .r .books {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* end mobile books*/

  .progressbar {
    margin-top: 0.6em;
  }

  #qt {
    position: relative;
    grid-template-columns: 1fr;
  }
  blockquote {
    margin-bottom: 0.4em;
    text-align: center;

    grid-row: 2/3;
    grid-column: 2/3;
  }

  blockquote br {
    display: none;
  }

  img.q {
    min-width: 1em;
    max-width: 1em;
  }

  img.author {
    transform: none;
    width: 30vw;

    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
  }

  /* mobile background bg*/

  #bg-img {
    position: relative;
    left: 62%;
    height: 115%;
  }

  /* mobile news */

  section.news .banner {
    margin: 0;
    margin-top: var(--module-spacing);
    margin-bottom: var(--module-spacing);
  }
  section.news .banner img {
    /* width: clamp(210px, 25vw, 31vw); */
    width: 100%;
  }

  .news .title {
    margin: 0 calc(var(--module-spacing) - 5px);
  }

  .news .stats {
    margin: 0 calc(var(--module-spacing) + 2px);
    margin-bottom: 1em;
  }

  .news .description {
    display: none;
    line-height: 1.7rem;
    margin: var(--module-spacing);
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  body > *:not(header):not(footer) {
    margin: 0 9em;
  }

  footer {
    margin: 1em 9em;
  }
}

@media (min-width: 1450px) {
  :root {
    --module-spacing: 1.5em;
  }

  .progressbar,
  .rating-info {
    margin-top: 1em;
  }

  body > *:not(header):not(footer) {
    margin: 0 14em;
  }

  footer {
    margin: 1em 14em;
  }

  #hero {
    margin: 4em 0;
  }

  #bg-img {
    top: -2em;
    left: 55%;
  }
}
