/* - - - resets ---------- RESETS ------------ - - - - - - */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

/* - - - - - - ---------- RESETS END ------------ - - - - -
- - - root ----------- ROOT ------------- - - - - - - - */

:root {
  --lt-color: #fefdfb;
  --md-neutral: #dacec2;
  --dk-neutral: #38291e;
  --lt-green: #bfc8a3;
  --dk-green: #37421c;
}

/* - - - - - - ----------- ROOT END ------------- - - - - -  
- - - fonts ----------- FONTS ------------ - - - - - - - */
body,
button {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: var(--dk-neutral);
}

nav,
h2,
h3,
blockquote,
p.h {
  font-family: lora, serif;
}

nav li {
  text-transform: lowercase;
}

p.h {
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
}

/* - - - - - - ----------- FONT END ------------- - - - - -  
- - -  ----------- MAIN ------------ - - - - - - - */
body {
  margin: 1em;
  background-color: var(--lt-color);
}

main {
  margin: 0 4em;
}

/* - - - - - - ----------- MAIN END ------------- - - - - -  
- - -  ----------- ICONS ------------ - - - - - - - */

.icon-bg {
  background-color: var(--lt-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dk-icon-bg {
  background-color: var(--dk-neutral);
}

.icon-bg svg {
  width: 25px;
  color: var(--dk-neutral);
  fill: none;
}

img.eye {
  width: 35px;
}

/* svg.icon {
  color: var(--dk-neutral);
  width: 25px;
} */

.dk-icon-bg svg {
  color: var(--lt-color);
}

button.profile {
  overflow: hidden;
  padding: 0;
}

button.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* - - - - - - ----------- ICONS END ------------- - - - - -  
- - -  ----------- GRAPHIC ELEMENTS ------------ - - - - - - - */
body {
  background-image: url("images/canvastexture.png");
  background-blend-mode: multiply;
}

.arch-bg {
  background: url(images/canvastexture.png), var(--md-neutral);
  border-radius: 30px 30px 10px 10px;
  display: flex;
  align-items: center;
  padding: 0.4em;
  gap: 0.4em;
}

/* - - - - - - ----------- graphic elements end ------------- - - - - -  */

/* - - -  ----------- btns ------------ - - - - - - - */

button.primary,
button.secondary,
button.tertiary {
  border-radius: 20px;
  width: 140px;
  height: 30px;
}

button.primary {
  background: url(images/canvastexture.png), var(--dk-green);
  color: var(--lt-color);
}

button.secondary {
  border: 2px solid var(--dk-green);
  color: var(--dk-green);
  background-color: transparent;
}

button.tertiary {
  color: var(--dk-green);
  background-color: transparent;
  text-decoration: underline;
}

.btns {
  display: flex;
  gap: 0.5em;
  width: fit-content;
  margin: 0 auto;
}

/* - - - - - - ----------- btns end ------------- - - - - -  
- - -  ----------- layout ------------ - - - - - - - */
p.h {
  margin-bottom: 0.3em;
}

p.sb {
  margin-bottom: 0.6em;
  width: 20em;
}

p:not(p.h) {
  line-height: 2em;
}

#modules {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* 
#prev-read,
#qt {
  grid-column: 1 / 2;
}

#curr-reading,
#discover {
  grid-column: 2 / 3;
}

#community {
  grid-column: 1 / 3;
} */

/*- - -  ----------- nav ------------ - - - - - - - */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

nav ul,
.r ul,
div.l {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0.5em;
}

nav li {
  margin-right: 1em;
}

.r li {
  margin-right: 0.5em;
}

.sm-logo {
  padding: 0.15em;
  padding-top: 0.4em;
  margin-right: 1em;
}

.hide {
  display: none;
}

/* - - - - - - ----------- nav end ------------- - - - - -  */
/* - - -  ----------- hero ------------ - - - - - - - */
#hero {
  text-align: center;
  width: 40vw;
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bg-scroll-area {
  height: auto;
  position: absolute;
  z-index: -1;
}

#bg-img {
  height: 211vw;
  margin-top: -6vh;
  margin-left: 41vw;
  position: sticky;
}

/* - - - - - - ----------- hero end ------------- - - - - - */
/* - - - - - - --------- quote ----------- - - - - -  */
img.q {
  width: 20px;
}

#qt img:nth-of-type(2) {
  width: 80px;
}
/* - - -  ----------- quote end  ------------ - - - - - - - */
/* - - - - - - --------- books ----------- - - - - -  */
div.book {
  display: inline;
}

img.book-img {
  height: 200px;
}
/* - - -  ----------- quote end  ------------ - - - - - - - */
